<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <img routerLink="/tabs/home" src="/assets/logo.png" alt="" />
    </ion-toolbar>
  </ion-header>

  <ion-card class="banner">
    <img src="../../assets/File_dock_add.png" alt="" />
    <ion-card-header>
      <ion-card-title>
        <h1 style="margin: 0" translate>site.nova-disciplina</h1>
      </ion-card-title>
    </ion-card-header>
  </ion-card>

  <div class="subject-contents">
    <form [formGroup]="formularioDisciplina" (ngSubmit)="criarDisciplina()">
      <ion-card class="card-new-subject">
        <h3 translate>site.nome-disciplina</h3>
        <ion-item lines="none">
          <ion-input
            placeholder="Nome da disciplina..."
            formControlName="nome"
          ></ion-input>
        </ion-item>
      </ion-card>
      <ion-card class="card-new-subject">
        <h3 translate>site.area-estudo</h3>
        <ion-item lines="none">
          <!-- Vinculando o textarea ao FormGroup -->
          <ion-input
            placeholder="Área..."
            formControlName="area_estudo"
          ></ion-input>
        </ion-item>
      </ion-card>
      <ion-card class="card-new-subject">
        <h3 translate>site.notas-sobre-disciplina</h3>
        <ion-item lines="none">
          <!-- Vinculando o textarea ao FormGroup -->
          <ion-textarea
            placeholder="Notas..."
            formControlName="notas"
          ></ion-textarea>
        </ion-item>
      </ion-card>

      <ion-card class="card-new-subject">
        <h3 translate>site.imagem</h3>
        <ion-item lines="none">
          <input type="file" id="imagemUpload" accept="image/*" />
        </ion-item>
      </ion-card>
      <div class="save-btn">
        <ion-button type="button" routerLink="/tabs/disciplinas"
          >Cancelar</ion-button
        >
        <ion-button type="submit">Criar</ion-button>
      </div>
    </form>
  </div>
</ion-content>
