<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <img src="/assets/logo.png" alt="" />
    </ion-toolbar>
  </ion-header>

  <ion-card class="banner">
    <img src="../../assets/File_dock_add.png" alt="" />
    <ion-card-header>
      <ion-card-title>
        <h1 style="margin: 0" translate>site.nova-disciplina</h1>
      </ion-card-title>
    </ion-card-header>
  </ion-card>

  <div class="subject-contents">
    <form action="">
      <ion-card class="card-new-subject">
        <h3 translate>Nome da disciplina:</h3>
        <ion-item lines="none">
          <ion-input
            placeholder="Nome da disciplina..."
          ></ion-input>
        </ion-item>
      </ion-card>
      <ion-card class="card-new-subject">
        <h3 translate>Área de estudo:</h3>
        <ion-item lines="none">
          <!-- Vinculando o textarea ao FormGroup -->
          <ion-input
            placeholder="Área..."
          ></ion-input>
        </ion-item>
      </ion-card>
      <ion-card class="card-new-subject">
        <h3 translate>Notas sobre a disciplina:</h3>
        <ion-item lines="none">
          <!-- Vinculando o textarea ao FormGroup -->
          <ion-textarea
            placeholder="Notas..."
          ></ion-textarea>
        </ion-item>
      </ion-card>
      <div class="save-btn">
        <ion-button type="button">Cancelar</ion-button>
        <ion-button type="submit">Criar</ion-button>
      </div>
    </form>
  </div>

</ion-content>