
ion-content .banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 520px;
  width: calc(100% - 16px);
  background-image: url("../../assets/SVG/perfil.svg"), linear-gradient(154.52deg, #E9F8E2 0%, #07AAC5 100%);
  background-size: cover; 
  background-repeat: no-repeat; 
  border-radius: 32px;
  margin: 8px 0 0 8px;
  overflow: hidden;
}



ion-content .banner .row-btn {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 64px;
  width: 100%;
  height: fit-content;
  padding: 0 8px;
}

ion-content .banner .row-btn ion-button {
  width: 100%;
  margin: 16px ;
}

ion-content .banner h1 {
  font-weight: 800;
  height: fit-content;
}

ion-content .banner .imgAvatar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-top: 32px;
}

ion-content .banner .imgAvatar ion-avatar {
  width: 150px;
  height: 150px;
}

ion-content .banner .imgAvatar ion-avatar img {
  width: 100%;
  height: auto;
  border-radius: 50%;
}

ion-content .banner .imgAvatar ion-button {
  width: 132px;
  margin: 48px 0 0 0;
}

ion-content .banner .imgAvatar h2, ion-content .banner .imgAvatar h3 {
  color: #FFFFFF;
}

ion-content .div-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

ion-content .div-content .info-card {
  display: flex;
  align-items: center;
  // height: fit-content;
  background: #07AAC5;
  width: calc(100% - 16px);
  padding: 8px 16px;
  margin: 16px 0 0 0;
  border-radius: 32px;
}

ion-content .div-content .info-card:last-child {
  margin-bottom: 32px;
}

ion-content .div-content .info-card .div-icon {
  display: flex;
  height: 164px;
  align-items: start;
}

ion-content .div-content .info-card img {
  width: 32px;
  height: 32px;
  color: #FFFFFF !important;
}


ion-content .div-content .info-card p {
  color: #FFFFFF;
  margin: 0 0 0 8px;
}

ion-content .div-content .info-card .notif-status {
  display: flex;
  justify-content: end;
  width: 100%;
}

ion-content .div-content .info-card .idioma-info {
  height: fit-content;
  width: 100%;
  padding: 8px 0;
}

ion-content .div-content .info-card .idiomas {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 8px;
}

ion-content .div-content .info-card .idiomas .column-idiomas div{
  display: flex;
  align-items: center;
  height: 32px;
  margin-top: 8px;
}

ion-radio-group {
  display: flex;
  flex-direction: column;
}

ion-content .div-content .info-card .idioma-info ion-radio {
  margin-top: 8px;
}
