<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <img src="/assets/logo.png" alt="" />
    </ion-toolbar>
  </ion-header>

  <ion-card class="banner">
    <div class="imgAvatar">
      <ion-avatar *ngIf="users"><img src="{{users.imagem}}" /> </ion-avatar>
      <h2 style="margin: 8px 0 0 0" *ngIf="users">{{users.nome}}</h2>
      <h3 style="margin: 8px" *ngIf="users">Nº {{users.numero}}</h3>
      <ion-button color="bgwhite" routerLink="/editar-perfil" translate
        >site.perfil-editar</ion-button
      >
    </div>
  </ion-card>
  <div class="div-content">
    <ion-card class="info-card">
      <img src="/assets/SVG/Message.svg" alt="" />
      <p *ngIf="users">{{users.email}}</p>
    </ion-card>
    <ion-card class="info-card">
      <img src="/assets/SVG/Book_open.svg" alt="" />
      <p *ngIf="users">{{users.curso}}</p>
    </ion-card>
    <ion-card class="info-card">
      <img src="/assets/SVG/Pin.svg" alt="" />
      <p *ngIf="users">{{users.universidade}}</p>
    </ion-card>
    <ion-card class="info-card">
      <img src="/assets/SVG/Bell.svg" alt="" />
      <p translate>site.perfil-notif</p>
      <ion-button>
        {{ notificationState ? 'Desativar Notificações' : 'Ativar Notificações'
        }}
      </ion-button>
    </ion-card>
    <ion-card class="info-card">
      <div class="div-icon">
        <img src="/assets/SVG/chat.svg" alt="" />
      </div>
      <div class="idioma-info">
        <p translate>site.perfil-idioma</p>
        <div class="idiomas">
          <div class="column-idiomas">
            <div>
              <p>Inglês</p>
            </div>
            <div>
              <p>Espanhol</p>
            </div>
            <div>
              <p>Português</p>
            </div>
          </div>
          <div class="column-radios" id="open-toast">
            <ion-radio-group value="pt" (ionChange)="onchangeLanguage($event)">
              <ion-radio
                *ngFor="let lang of appLanguageList, let i = index"
                value="{{lang.code}}"
              ></ion-radio>
              <ion-toast
                *ngFor="let lang of appLanguageList; let i = index"
                [duration]="3000"
                translate
              ></ion-toast>
            </ion-radio-group>
          </div>
        </div>
      </div>
    </ion-card>
    <ion-card class="info-card">
      <img src="/assets/SVG/megaphone.svg" alt="" />
      <p translate>site.perfil-ajuda</p>
    </ion-card>

    <ion-card class="info-card logout" (click)="signOut()" *ngIf="user | async">
      <p translate>site.perfil-sair</p>
    </ion-card>
  </div>
</ion-content>
