<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <img src="/assets/logo.png" alt="" />
    </ion-toolbar>
  </ion-header>

  <ion-card class="banner" style="margin-bottom: 16px">
    <img src="../../assets/subjects.png" alt="" />
    <ion-card-header>
      <ion-card-title>
        <h1 style="margin: 0" translate>site.titulo-disciplinas</h1>
      </ion-card-title>
    </ion-card-header>
    <div class="row-btn">
      <ion-button color="bgwhite" routerLink="/nova-disciplina" translate
        >site.botao-criar</ion-button
      >
    </div>
  </ion-card>

  <div class="subject-contents" routerLink="/ver-disciplina">
    <!-- Iterando sobre as disciplinas e criando um card para cada uma -->
    <ion-card *ngFor="let disciplina of disciplinas" class="card-subjects">
      <div class="subject-img">
        <img src="{{disciplina.imagem}}" alt="" />
        <ion-card-header>
          <ion-card-title color="bgwhite">
            <h3 style="margin: 0">{{ disciplina.nome }}</h3>
          </ion-card-title>
        </ion-card-header>
      </div>

      <ion-card-content>
        <div class="bar-div">
          <div class="bar"></div>
          <div
            class="progress-bar"
            [style.width]="disciplina.percentagem"
          ></div>
        </div>
      </ion-card-content>
      <div class="completed">
        <p translate><span>{{disciplina.percentagem}}</span> site.completo</p>
      </div>
    </ion-card>
  </div>
</ion-content>
