<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <img routerLink="/tabs/home" src="/assets/logo.png" alt="" />
      <ion-button id="backButton" routerLink="/tabs/perfil" slot="end">
        <img src="../../assets/SVG/arrow-left.svg" alt="">
    </ion-button>
    </ion-toolbar>
  </ion-header>

  <ion-card class="banner">
    <img src="../../assets/SVG/perfil.svg" alt="" />
    <ion-card-header>
      <ion-card-title>
        <h1 style="margin: 0" translate>site.editar-perfil</h1>
      </ion-card-title>
    </ion-card-header>
  </ion-card>
  <form (ngSubmit)="updatePerfil()" [formGroup]="dadosAtualizados">
    <div class="div-content">
      <ion-card class="card-edit">
        <h4 translate>site.editar-imagem</h4>
        <ion-item lines="none" class="upload-container">
          <input
            type="file"
            id="imagemUpload"
            accept="image/*"
            class="upload-input"
            (change)="onImageUpload($event)"
            capture="user"
          />
          <label for="imagemUpload" class="upload-label">
            <div class="upload-content">
              <div class="circle">
                <ion-icon name="add" class="plus-icon"></ion-icon>
              </div>
              <span class="upload-text">{{ uploadedFileName }}</span>
            </div>
          </label>
          <!-- Ícone para abrir a câmera -->
          <ion-icon
            name="camera"
            slot="end"
            (click)="onAddButtonClick('camera')"
            class="camera-icon"
          ></ion-icon>
          <!-- Ícone para abrir a galeria -->
          <ion-icon
            name="images"
            slot="end"
            (click)="onAddButtonClick('gallery')"
            class="gallery-icon"
          ></ion-icon>
        </ion-item>
      </ion-card>
      <ion-card class="card-edit">
        <h4 translate>site.editar-nome</h4>
        <ion-item lines="none">
          <ion-input
            *ngIf="users"
            placeholder="{{users.nome}}..."
            formControlName="nome"
            name="nome"
          ></ion-input>
          <img src="/assets/SVG/Edit.svg" alt="" />
        </ion-item>
      </ion-card>
      <ion-card class="card-edit">
        <h4 translate>site.editar-numero</h4>
        <ion-item lines="none">
          <ion-input
            *ngIf="users"
            placeholder="{{users.numero}}..."
            formControlName="numero"
            name="numero"
          ></ion-input>
          <img src="/assets/SVG/Edit.svg" alt="" />
        </ion-item>
      </ion-card>
      <ion-card class="card-edit">
        <h4 translate>site.editar-curso</h4>
        <ion-item lines="none">
          <ion-select
            translate
            *ngIf="users"
            placeholder="{{users.curso}}..."
            formControlName="curso"
            name="curso"
          >
            <ion-select-option *ngFor="let curso of cursos" [value]="curso"
              >{{ curso }}</ion-select-option
            >
          </ion-select>
          <img src="/assets/SVG/Edit.svg" alt="" />
        </ion-item>
      </ion-card>
      <ion-card class="card-edit">
        <h4 translate>site.editar-instituicao</h4>
        <ion-item lines="none">
          <ion-select
            *ngIf="users"
            placeholder="{{users.universidade}}..."
            formControlName="universidade"
            name="universidade"
          >
            <ion-select-option value="ESTG"
              >Escola Superior de Tecnologia e Gestão - IPVC
            </ion-select-option>
            <ion-select-option value="ESE"
              >Escola Superior de Educação - IPVC</ion-select-option
            >
            <ion-select-option value="ESS"
              >Escola Superior de Saúde - IPVC</ion-select-option
            >
            <ion-select-option value="ESDL"
              >Escola Superior de Desporto e Lazer - IPVC</ion-select-option
            >
            <ion-select-option value="ESCE"
              >Escola Superior de Ciências Empresariais -
              IPVC</ion-select-option
            >
            <ion-select-option value="ESA"
              >Escola Superior Agrária - IPVC</ion-select-option
            >
          </ion-select>
          <img src="/assets/SVG/Edit.svg" alt="" />
        </ion-item>
      </ion-card>
      <div class="save-btn">
        <ion-button type="button" routerLink="/tabs/perfil" translate
          >site.editar-cancelar</ion-button
        >
        <ion-button type="submit" translate>site.editar-guardar</ion-button>
      </div>
    </div>
  </form>
</ion-content>
