<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="radio">
      <ion-icon name="school-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button class="principalButton">
      <img src="../../assets/SVG/plusButton.svg "/>
    </ion-tab-button>
    <ion-tab-button tab="library">
      <ion-icon name="chatbox-ellipses-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="search">
      <ion-icon name="person-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>