<ion-content scrollY="false">
  <ion-header collapse="condense">
    <ion-toolbar>
      <img src="/assets/logo.png" alt="">
    </ion-toolbar>
  </ion-header>
  <ion-card class="banner">
    <img src="../../assets/sign_in.png" alt="">
    <ion-card-header>
      <ion-card-title>
        <h1 style="margin: 0;" translate>site.entrar</h1>
      </ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card class="credentials-card">
    <ion-card-content>
      
    </ion-card-content>
  </ion-card>
</ion-content>
