<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <img routerLink="/tabs/home" src="/assets/logo.png" alt="" />
      <ion-button id="backButton" routerLink="/tabs/disciplinas" slot="end">
        <img src="../../assets/SVG/arrow-left.svg" alt="" />
      </ion-button>
    </ion-toolbar>
  </ion-header>

  <ion-card class="banner">
    <img src="../../assets/task-banner.png" alt="" />
    <ion-card-header>
      <ion-card-title>
        <h1 style="color: #ffffff" translate>site.disciplina</h1>
      </ion-card-title>
    </ion-card-header>
  </ion-card>

  <div class="task-contents">
    <ion-card class="card-task">
      <h3>Data de entrega: {{ tarefaSelecionada?.data_limite}}</h3>
    </ion-card>
    <ion-card class="card-task">
      <h3>Nível de prioridade: {{tarefaSelecionada?.prioridade}}</h3>
    </ion-card>
    <ion-card class="card-task">
      <h3 translate>Tarefas:</h3>
      <p>{{tarefaSelecionada?.tarefa}}</p>
    </ion-card>
    <ion-card class="card-task">
      <h3 translate>Documentos:</h3>
      <ion-img
        *ngIf="tarefaSelecionada"
        [src]="tarefaSelecionada.imagem"
      ></ion-img>
    </ion-card>
  </div>
</ion-content>
