ion-content .banner {
    display: flex;
    flex-direction: column;
    // position: absolute;
    justify-content: center;
    height: 328px;
    width: calc(100% - 16px);
    background: linear-gradient(154.52deg, #0090F9 46.98%, #715FFF 100%);
    border-radius: 32px;
    margin: 8px 0 0 8px;
  }
  
  ion-content .banner img {
    position: absolute;
    right: 0;
    height: 500px;
    opacity: 0.4;
  }

  ion-content .banner ion-card-title {
    text-align: center;
    max-height: 140px;
  }
  
  ion-content .banner .row-btn {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 16px;
    width: 100%;
    height: fit-content;
    align-items: end;
    padding: 0 8px;
  }
  
  ion-content .banner .row-btn ion-button {
    width: 200px;
    margin: 16px ;
  }
  
  ion-content .banner h1 {
    color: #FFFFFF;
    height: fit-content;
  }

  .subject-contents {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 8px;
    margin-top: 16px;
  }

  ion-card.card-task {
    width: 100%;
    height: auto;
    max-height: 254px;
    margin: 0;
    padding: 16px;
    border-radius: 32px;
    background: #4E6FFE;
  }

  ion-card.card-task ion-card-header {
    padding: 0;
  }
  
  
  ion-card.card-task ion-card-header h3 {
    max-height: 90px;
  }

  .card-task ion-card-content {
    padding: 16px 0;
  }

  .card-task ion-card-content .complete {
    display: flex;
    align-items: center;
    margin-top: 16px;
  }

  .card-task ion-card-content .complete p {
    margin: 0;
    padding: 0 8px;
    color: #FFFFFF;
  }

  .card-task ion-card-content .see-btn {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 8px;
  }

  .card-task ion-card-content .see-btn #openTask {
    width: 138px;
    height: 32px;
    min-height: 0 !important;
    margin: 0;
    border-radius: 16px;
  }

  .radio-checked.ios::part(container) {
    border-color: #131D73;
    background: #131D73;
  }

  ion-radio {
    --color-checked: #FFFFFF;
  }

