<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <img routerLink="/tabs/home" src="/assets/logo.png" alt="" />
    </ion-toolbar>
  </ion-header>

  <ion-card class="banner">
    <img src="../../assets/File_dock_add.png" alt="" />
    <ion-card-header>
      <ion-card-title>
        <h1 style="margin: 0" translate>site.nova-tarefa</h1>
      </ion-card-title>
    </ion-card-header>
  </ion-card>

  <div class="task-contents">
    <form [formGroup]="formularioTarefa" (ngSubmit)="criarTarefa()">
      <ion-card class="card-new-task">
        <h3 translate>site.nome-tarefa</h3>
        <ion-item lines="none">
          <ion-input
            placeholder="Nome da tarefa..."
            formControlName="nome_tarefa"
          ></ion-input>
        </ion-item>
        <div
          *ngIf="formularioTarefa.controls['nome_tarefa'].errors?.['required']"
          class="error-message"
        >
          Nome da tarefa é obrigatório.
        </div>
      </ion-card>

      <ion-card class="card-new-task">
        <h3 translate>site.nova-tarefa</h3>
        <ion-item lines="none">
          <ion-textarea
            placeholder="Tarefas..."
            formControlName="tarefa"
          ></ion-textarea>
        </ion-item>
        <div
          *ngIf="formularioTarefa.controls['tarefa'].errors?.['required']"
          class="error-message"
        >
          Tarefa é obrigatória.
        </div>
      </ion-card>

      <ion-card class="card-new-task">
        <h3 translate>site.data-limite</h3>
        <ion-item lines="none">
          <ion-datetime
            [firstDayOfWeek]="1"
            presentation="date"
            (ionChange)="formatarData($event)"
            [min]="getMinDate()"
            formControlName="data_limite"
          ></ion-datetime>
        </ion-item>
        <div
          *ngIf="formularioTarefa.controls['data_limite'].errors?.['required']"
          class="error-message"
        >
          Data limite é obrigatória.
        </div>
      </ion-card>

      <ion-card class="card-new-task">
        <h3 translate>site.disciplina</h3>
        <ion-item lines="none">
          <ion-select aria-label="" formControlName="disciplina_id">
            <ion-select-option
              *ngFor="let disciplina of disciplinas"
              [value]="disciplina.id_disciplina"
            >
              {{ disciplina.nome }}
            </ion-select-option>
          </ion-select>
        </ion-item>
        <div
          *ngIf="formularioTarefa.controls['disciplina_id'].errors?.['required']"
          class="error-message"
        >
          Disciplina é obrigatória.
        </div>
      </ion-card>

      <ion-card class="card-new-task">
        <h3 translate>site.nivel-prioridade</h3>
        <ion-item lines="none">
          <ion-select aria-label="" formControlName="prioridade">
            <ion-select-option value="baixa">Baixa</ion-select-option>
            <ion-select-option value="media">Media</ion-select-option>
            <ion-select-option value="alta">Alta</ion-select-option>
          </ion-select>
        </ion-item>
        <div
          *ngIf="formularioTarefa.controls['prioridade'].errors?.['required']"
          class="error-message"
        >
          Nível de prioridade é obrigatório.
        </div>
      </ion-card>

      <ion-card class="card-new-task">
        <h3 translate>site.imagem</h3>
        <ion-item lines="none">
          <input type="file" id="imagemUpload" accept="image/*" />
        </ion-item>
      </ion-card>

      <div class="save-btn">
        <ion-button type="button" (click)="cancelar()">Cancelar</ion-button>
        <ion-button type="submit">Criar</ion-button>
      </div>
    </form>
  </div>
</ion-content>
