<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <img src="/assets/logo.png" alt="">
    </ion-toolbar>
  </ion-header>

  <ion-card class="banner">
    <img src="../../assets/sign_in.png" alt="">
    <ion-card-header>
      <ion-card-title>
        <h1>Entrar</h1>
      </ion-card-title>
    </ion-card-header>
  </ion-card>
  <div class="sign-in-form">
    <div class="user-input">
      <h4 for="email">Email institucional:</h4>
      <ion-input id="email" placeholder="Email institucional..." type="email"></ion-input>
    </div>
    <div class="pass-input">
      <h4 for="password">Palavra-passe:</h4>
      <ion-input id="senha" placeholder="Palavra-passe..." type="password" value="password"></ion-input>
    </div>
    <div class="submit-button">
      <ion-button color="primary" translate>site.entrar</ion-button>
    </div>
  </div>
</ion-content>
