ion-content .banner {
  display: flex;
  flex-direction: column;
  // position: absolute;
  justify-content: center;
  height: 328px;
  width: calc(100% - 16px);
  background: linear-gradient(180deg, rgba(84, 111, 250, 0.46) 0%, #091267 100%);
  border-radius: 32px;
  margin: 8px 0 0 8px;
}

ion-content .banner img {
  position: absolute;
  right: 0;
  height: 400px;
  opacity: 1;
}

ion-content .banner ion-card-title {
  text-align: center;
}

ion-content .banner .row-btn {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 64px;
  width: 100%;
  height: fit-content;
  align-items: end;
  padding: 0 8px;
}

ion-content .banner .row-btn ion-button {
  width: 100%;
  margin: 16px ;
}

ion-content .banner h1 {
  font-weight: 800;
  height: fit-content;
}

.sign-in-form {
  width: 100%;
  margin-top: 32px;
  padding: 0 8px;
}

.sign-in-form h4 {
  color: #131D73;
  padding-left: 16px;
}

.sign-in-form ion-input {
  --border-width: 1px;
  --border-color: #131D73;
  --background: #FFFFFF;
  --color: #131D73;
}

.sign-in-form ion-input label .native-input {
  padding: 0 16px !important;
}

.sign-in-form .submit-button {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 40px;
}

.sign-in-form .submit-button ion-button {
  margin: 0;
}