/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";

@font-face {
  font-family: "Montserrat";
  src: url("/assets/Fonts/Montserrat/Montserrat-VariableFont_wght.ttf")
    format("truetype");
}

html,
* {
  font-family: "Montserrat" !important;
}

body {
  ion-background-color: #fafaff !important;
}

h1 {
  font-family: "Montserrat";
  font-size: 40px;
  line-height: 48px;
  font-weight: 800;
}

h2 {
  font-family: "Montserrat";
  font-size: 20px;
  line-height: 32px;
  font-weight: 800;
}

h3 {
  font-family: "Montserrat";
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
}

h4 {
  font-family: "Montserrat";
  font-size: 12px;
  line-height: 20px;
  font-weight: 800;
}

::placeholder {
  font-family: "Montserrat";
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
}

p {
  font-family: "Montserrat";
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
}

ion-button {
  font-size: 20px;
  line-height: 32px;
  font-weight: 800;
  color: #131d73;
}

ion-radio {
  --border-radius: 8px;
  --inner-border-radius: 8px;
  --color: #ffffff;
  --color-checked: #07aac5;
}

ion-radio.ios::part(container) {
  width: 32px;
  height: 32px;
  border: 2px solid #ffffff;
  border-radius: 8px;
  background: #c1baf5;
}

.radio-checked.ios::part(container) {
  border-color: #ffffff;
  background: #ffffff;
}
