<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <img src="/assets/logo.png" alt="" />
    </ion-toolbar>
  </ion-header>
  <ion-card class="banner">
    <img src="../../assets/image_47.png" alt="" />
    <ion-card-header>
      <ion-card-title>
        <h1 style="margin: 0" translate>site.titulo-inicial</h1>
        <h1 style="margin: 0" *ngIf="users">{{users.nome}}</h1>
      </ion-card-title>
    </ion-card-header>
    <div class="row-btn">
      <ion-button color="bgwhite" routerLink="/nova-tarefa" translate
        >site.botao-criar</ion-button
      >
      <ion-button color="bgwhite" routerLink="/tabs/disciplinas" translate
        >site.disciplinas</ion-button
      >
    </div>
  </ion-card>
  <div class="upcoming-tasks">
    <h2 translate>site.titulo-tarefaspro</h2>
    <swiper-container
      class="mySwiper"
      slides-per-view="1"
      pagination="true"
      pagination-clickable="true"
    >
      <ng-container *ngFor="let tarefa of tarefas">
        <swiper-slide>
          <ion-card>
            <img src="{{ tarefa.imagem }}" />
            <ion-card-header>
              <ion-card-subtitle
                ><h4 translate>
                  {{ 'site.prioridade' | translate }} {{ tarefa.prioridade }}
                </h4></ion-card-subtitle
              >
              <ion-card-title>
                <h3>{{ tarefa.tarefa }}</h3>
                <h4>{{ tarefa.nome_disciplina }}</h4>
              </ion-card-title>
            </ion-card-header>
            <ion-card-content
              ><h3 translate>
                {{ 'site.entrega' | translate }} {{ tarefa.data_limite }}
              </h3></ion-card-content
            >
          </ion-card>
        </swiper-slide>
      </ng-container>
    </swiper-container>
  </div>

  <div class="relevant-chats">
    <h2 translate>site.titulo-conversasHome</h2>
    <ion-card>
      <ion-card-content *ngFor="let disciplina of disciplinas | slice:0:3">
        <ion-list>
          <ion-item lines="none" color="primary">
            <ion-thumbnail slot="start">
              <img src="{{ disciplina.imagem }}" />
            </ion-thumbnail>
            <ion-label>
              <p>Grupo {{disciplina.nome}}</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
    <p id="SeeAll" routerLink="/tabs/conversas-grupo" translate>
      site.ver-todas
    </p>
  </div>
</ion-content>
