ion-content .banner {
    display: flex;
    flex-direction: column;
    // position: absolute;
    justify-content: center;
    height: 520px;
    width: calc(100% - 16px);
    background: linear-gradient(180deg, rgba(84, 111, 250, 0.46) 0%, #091267 100%);
    border-radius: 32px;
    margin: 8px 0 0 8px;
  }
  
  ion-content .banner img {
    position: absolute;
    right: 0;
    height: 400px;
    opacity: 0.3;
  }
  
  ion-content .banner ion-card-title {
    text-align: center;
  }
  
  ion-content .banner .row-btn {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 64px;
    width: 100%;
    height: fit-content;
    align-items: end;
    padding: 0 8px;
  }
  
  ion-content .banner .row-btn ion-button {
    width: 100%;
    margin: 16px ;
    
  }
  
  ion-content .banner h1 {
    color: #FFFFFF;
    height: fit-content;
  }

  ion-content .upcoming-tasks {
    margin: 16px 8px 0 8px;
  }

  ion-content .upcoming-tasks h2 {
    color: #131D73;
    padding-left: 16px;
  }

  ion-content .upcoming-tasks .task-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
    width: 100%;
  }

  ion-content .upcoming-tasks .task-grid ion-card {
    margin: 0;
    height: 300px;
  }