<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <img src="/assets/logo.png" alt="">
    </ion-toolbar>
  </ion-header>

  <ion-card class="banner">
    <img src="../../assets/image_47.png" alt="">
    <ion-card-header>
      <ion-card-title>
        <h1 style="margin: 0">Bem-vindo</h1>
      </ion-card-title>
    </ion-card-header>
    <div class="row-btn">
      <ion-button color="bgwhite">Criar tarefa</ion-button>
      <ion-button color="bgwhite">Disciplinas</ion-button>
    </div>
  </ion-card>
  <div class="upcoming-tasks">
    <h2>Tarefas proximas</h2>
  </div>

</ion-content>
