<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <img src="/assets/logo.png" alt="">
    </ion-toolbar>
  </ion-header>

  <ion-card class="banner">
    <img src="../../assets/image_47.png" alt="">
    <ion-card-header>
      <ion-card-title>
        <h1 style="margin: 0" translate>site.titulo-inicial</h1>
      </ion-card-title>
    </ion-card-header>
    <div class="row-btn">
      <ion-button color="bgwhite" translate>site.botao-criar</ion-button>
      <ion-button color="bgwhite" translate>site.disciplinas</ion-button>
    </div>
  </ion-card>
  <div class="upcoming-tasks">
    <h2 translate>site.titulo-tarefaspro</h2>
    <div class="task-grid">
        <ion-card>
          <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
          <ion-card-header>
            <ion-card-title>Etapa 2 (Heurísticas)</ion-card-title>
            <ion-card-subtitle>Interação homem máquina</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            Entrega 10/04
          </ion-card-content>
        </ion-card>
        <ion-card>
          <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
          <ion-card-header>
            <ion-card-title>Etapa 2 (Heurísticas)</ion-card-title>
            <ion-card-subtitle>Interação homem máquina</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            Entrega 10/04
          </ion-card-content>
        </ion-card>
        <ion-card>
          <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
          <ion-card-header>
            <ion-card-title>Etapa 2 (Heurísticas)</ion-card-title>
            <ion-card-subtitle>Interação homem máquina</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            Entrega 10/04
          </ion-card-content>
        </ion-card>
        <ion-card>
          <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
          <ion-card-header>
            <ion-card-title>Etapa 2 (Heurísticas)</ion-card-title>
            <ion-card-subtitle>Interação homem máquina</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            Entrega 10/04
          </ion-card-content>
        </ion-card>
    </div>
  </div>

</ion-content>
